{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p><a class="btn btn-primary" href="{{ path('news_new') }}">+ 发表新闻</a></p>
            {% for news in news %}
                <section>
                    <header><h2><a href="{{ path('news_show', { 'id': news.id }) }}">{{ news.title }}</a></h2></header>
                    <p>{{ news.body }}</p>
                </section>
            {% endfor %}
            {{ knp_pagination_render(news) }}
        </div>
    </div>
{% endblock %}
